.volumeCard {
  --volume-card-background: #1c1c1c;
  --volume-card-hover: #434343;
  --volume-card-border: transparent;
  --volume-card-color: #e3e3e3;
  --volume-number-color: #f0f0f0;
  --volume-number-background: #dd0000;
  width: 100%;
  justify-self: center;
  cursor: pointer;
  position: relative;
  background-color: var(--volume-card-background);
}

.volumeCard:hover {
  cursor: pointer;
  background-color: var(--volume-card-hover);
  border-color: var(--volume-card-hover);
}

.volumeCard a {
  text-decoration: none;
}

.volumeCard img {
  aspect-ratio: 5/7;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: left top;
}

.volumeSeriesName {
  padding: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--volume-card-color);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-family: "Chillax-Variable";
  font-weight: 200;
}

.volumeNumber {
  position: absolute;
  bottom: 2em;
  left: 0;
  padding: 0 0.5ch;
  border-radius: 4px 4px 0 0;
  text-align: center;
  color: var(--volume-number-color);
  background-color: var(--volume-number-background);
  font-family: "Chillax-Variable";
  font-weight: 400;
}
