.textInput {
  display: flex;
  flex-direction: column;
}

.textInput label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  padding: 0.5ch;
  color: #bbb;
}

.textInput input {
  width: 100%;
  font-size: 14px;
  padding: 1ch;
  border: 1px solid #434343;
  border-radius: 4px;
}
