.navBar {
  --nav-bar-height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--nav-bar-height);
  position: relative;
}

.logo {
  position: absolute;
  left: 1em;
  background-color: darkred;
  box-sizing: border-box;
  padding: 0 2em;
  border-radius: 4px;
  /* flex: 0.5; */
}
