.userSection {
  grid-column: 12/13;
  box-sizing: border-box;
  padding: 0 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.userButton {
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  height: 36px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0px solid;
}

.userButton:hover {
  background-color: #848484;
}

.userSection .dialog {
  position: absolute;
  top: calc(100% + 4px);
  right: 1em;
  width: fit-content;
  min-width: 20ch;
  padding: 1em;
  border: 1px solid #505050;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #303030;
  box-shadow: 0px 10px 14px 4px #1c1c1c;

  display: flex;
  flex-direction: column;
  gap: 2ch;
}

.dialog p {
  white-space: nowrap;
}

.dialog hr {
  border: none;
  height: 1px;
  background-color: #505050;
}

.loginContainer {
  grid-column: 11/13;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
}

.loginLink {
  padding: 1ch 2ch;
  border-radius: 6px;
  text-decoration: none;
  color: #e3e3e3;
  background-color: #323232;
  transition:
    background-color 0.1s ease-in,
    color 0.1s ease-in;
}

.loginLink:hover {
  background-color: #e3e3e3;
  color: #323232;
}

.logoutButton {
  padding: 1ch 2ch;
  cursor: pointer;
  position: relative;
}

.logoutIcon {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1em;
}

.icon {
  vertical-align: middle;
}
